/* general */

body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color: dimgrey;
    color: #696969;
    padding: 3px;
}

h1 {
    font-family: Georgia, serif;
    border-bottom: 3px solid #0000ff;
    color: #0066FF;
    font-size: 30px;
}

/* page content */
#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
}

