/* general */

body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color: #345885;
    color: #696969;
    padding: 5px;
}

h1 {
    font-family: Georgia, serif;
    border-bottom: 2px solid #345885;
    color: #345885; 
    font-size: 32px;
    line-height: 1.5em;
    margin-bottom: 30px;
}

/* page content */
#main {
    padding: 20px;
    background-color: #ffffff;
}

p.fungler {
    padding:5px;
    color:white;
    background-color:darkblue;
}
p.morefun{
    padding: 5px;
    color: red;
    background: yellow;
}
section {
    font-size: 2em;
    color: grey;
    padding: inherit;
}
section p {
    margin:  0;
}
